#project stuff:
/.idea/

#game files
/about.txt
/Cncs232.dll
/Eternal Daughter.exe
/fonts.txt
/intro.dat
/windowed.txt
/slot1.sav
/blind.dat

#modified binaries
/fixres1.exe
/fixres2.exe
/Eternal Daughter.exe.bak