#project stuff:
/.idea/
/bmploader/bmploader.dev
/bmploader/bmploader.layout

#game files
/about.txt
/Cncs232.dll
/Eternal Daughter.exe
/fonts.txt
/intro.dat
/windowed.txt
/slot1.sav
/blind.dat

#modified binaries
/fixres1.exe
/fixres2.exe
/fixres3.exe
/Eternal Daughter.exe.bak
/windowed.exe
